@{
    ViewBag.Title = "ShowAllMessages";
}

<h2>ShowAllMessages</h2>
@{string all= (string)this.ViewContext.RouteData.Values["id"];
  string[] all2 = all.Split(' ');
  
  string forum = all2[0];
  string subforum = all2[1];
  string thread = all2[2];
  int i = 1;

  ForumApplication.Models.ForumSystem fs = ForumApplication.Models.ForumSystem.initForumSystem();
  List<ForumApplication.Models.Message> messages = fs.Forums[forum].SubForums[subforum].Threads[thread].Messages.Values.ToList();
  foreach (ForumApplication.Models.Message message in messages)
  {
        <p>Message #@i </p>
        <p>username: @message.UserName</p>
        <p>date: @message.Date</p>
        <p>@message.Content</p>
          i++; 
  }
  }
  <h3> Post A new Commnent!</h3>
<fieldset>
    @using (Ajax.BeginForm("PostNewMessage", "PostNewMessage", new { id = all }, new AjaxOptions { UpdateTargetId = "divNewForumDeatils" }))
    {
        <div id="divNewForumDeatils"></div>
        <ol>
            <li>
                @Html.Label("Title")
                @Html.TextBox("MessageTitle")
            </li>

            <li>
                @Html.Label("Content")
                @Html.TextBox("content")
            </li>

        </ol>
        <button>Publish</button>
    }
</fieldset>